{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}


{% endblock %}

{% block body %}
<div style="display: flex; justify-content: center;">
    <form method="POST" action="/register_doctor" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <h1>Register as a doctor</h1>

        {{ form.username.label }}{{ form.username }}
        {{ form.password.label }}{{ form.password }}
        {{ form.first_name.label }}{{ form.first_name }}
        {{ form.last_name.label }}{{ form.last_name }}
        {{ form.date_of_birth.label }}{{ form.date_of_birth }}
        {{ form.email.label }}{{ form.email }}
        {{ form.phone_number.label }}{{ form.phone_number}}

        {{ form.specialization.label }}{{ form.specialization }}
        {{ form.dyploma.label }}{{ form.dyploma }}
        {{ form.personal_ID.label }}{{ form.personal_ID }}

        {{ form.working_hours.label }}{{ form.working_hours }}

        {{ form.submit }}
    </form>
</div>
{% endblock %}